---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { dateRange } from "@lib/utils";
import { WORK } from "@consts";

const collection = (await getCollection("work")).sort(
  (a, b) =>
    new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf()
);

const work = await Promise.all(
  collection.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);
---

<PageLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <Container size="xl">
    <div class="relative isolate">
      <div class="mx-auto pt-18 pb-32 sm:pt-32">
        <div class="mx-auto gap-x-14 lg:mx-0 lg:flex lg:items-center">
          <div class="relative w-full lg:max-w-xl lg:shrink-0 xl:max-w-2xl">
            <h1
              class="animate text-5xl font-bold tracking-tight text-pretty sm:text-7xl text-surface10 md:text-6xl lg:text-7xl mb-8"
            >
              I yam wot I yam, And that's all wot I yam, I'm Popeye the Sailor
              Man
            </h1>
            <p
              class="mt-8 text-lg font-medium text-pretty text-surface10/50 sm:max-w-md sm:text-xl/8 lg:max-w-none"
            >
              I am passionate about creativity and technology. I love to create
              things that are not only functional but also beautiful.
            </p>
          </div>
          <div
            class="mt-14 flex justify-end gap-8 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0"
          >
            <div
              class="ml-auto w-44 flex-none space-y-8 pt-32 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80"
            >
              <div class="relative">
                <img
                  src="https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&h=528&q=80"
                  alt=""
                  class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                />
                <div
                  class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-gray-900/10 ring-inset"
                >
                </div>
              </div>
            </div>
            <div
              class="mr-auto w-44 flex-none space-y-8 sm:mr-0 sm:pt-52 lg:pt-36"
            >
              <div class="relative">
                <img
                  src="https://images.unsplash.com/photo-1485217988980-11786ced9454?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&h=528&q=80"
                  alt=""
                  class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                />
                <div
                  class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-gray-900/10 ring-inset"
                >
                </div>
              </div>
              <div class="relative">
                <img
                  src="https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-x=.4&w=396&h=528&q=80"
                  alt=""
                  class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                />
                <div
                  class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-gray-900/10 ring-inset"
                >
                </div>
              </div>
            </div>
            <div class="w-44 flex-none space-y-8 pt-32 sm:pt-0">
              <div class="relative">
                <img
                  src="https://images.unsplash.com/photo-1670272504528-790c24957dda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=left&w=400&h=528&q=80"
                  alt=""
                  class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                />
                <div
                  class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-gray-900/10 ring-inset"
                >
                </div>
              </div>
              <div class="relative">
                <img
                  src="https://images.unsplash.com/photo-1670272505284-8faba1c31f7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&h=528&q=80"
                  alt=""
                  class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                />
                <div
                  class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-gray-900/10 ring-inset"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="space-y-10">
      <div>
        <h1
          class="animate font-bold text-surface10 text-5xl md:text-6xl lg:text-7xl tracking-tight mb-8"
        >
          I yam wot I yam, And that's all wot I yam, I'm Popeye the Sailor Man
        </h1>
        <p class="animate text-lg md:text-xl mb-4">
          I am passionate about creativity and technology. I love to create
          things that are not only functional but also beautiful.
        </p>
        <p class="animate text-base mb-4">
          Popeye's story and characterization vary depending on the medium. In
          his debut storyline, Popeye's superhumanly proportioned strength and
          endurance stemmed from the "luck" he acquired by rubbing the feathers
          of the head of Bernice, a "whiffle hen", thus enabling him to survive
          fifteen gunshot wounds. By the end of 1929, however, Popeye's strength
          had become a regular fixture of his character, with spinach, by 1932,
          becoming the primary repository of his prowess. Swee'Pea is Popeye's
          ward in the comic strips, but his custody is inconsistent in cartoons.
        </p>
        <p class="animate text-base mb-4">
          There is no absolute sense of continuity in the stories, although
          certain plot and presentation elements remain mostly constant,
          including purposeful contradictions in Popeye's capabilities. Popeye
          seems bereft of manners and uneducated, yet he often comes up with
          solutions to problems that seem insurmountable to the police or the
          scientific community. He has displayed Sherlock Holmes-like
          investigative prowess, scientific ingenuity, and successful diplomatic
          arguments. In the animated cartoons his pipe also proves to be highly
          versatile. Among other things, it has served as a cutting torch, jet
          engine, propeller, periscope, musical instrument, and a whistle with
          which he produces his trademark toot. He also eats spinach through his
          pipe, sometimes sucking in the can along with the contents. Since the
          1970s, Popeye is seldom depicted using his pipe to smoke tobacco.
        </p>
        <p class="animate text-base">
          Popeye's exploits are also enhanced by a few recurring plot elements.
          One is the love triangle among Popeye, Olive Oyl, and Bluto (sometimes
          called Brutus), and Bluto's endless machinations to claim Olive at
          Popeye's expense. Another is his near-saintly perseverance in
          overcoming any obstacle to please Olive, who often (if temporarily)
          renounces Popeye for Bluto.
        </p>
      </div>
      <div class="-my-6">
        <h2 class="animate text-2xl font-normal text-surface10/40 pl-8">
          Experience
        </h2>
        {
          work.map((entry) => (
            <div class="relative pl-8 py-6 group">
              <div class="animate font-medium text-xl text-surface10 mb-0">
                {entry.data.role}
              </div>
              <div class="animate text-lg font-bold text-surface10/60 mb-4">
                {entry.data.company}
              </div>
              <div class="flex flex-col items-start mb-1 group-last:before:hidden before:absolute before:left-2 before:h-full before:px-px before:bg-surface2 before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 after:w-2 after:h-2 after:bg-surface7 after:border-4 after:box-content after:border-surface4 after:rounded-full after:-translate-x-1/2 after:translate-y-1.5">
                <time class="animate text-xs font-semibold uppercase p-1 px-2 mb-3 text-surface bg-surface10/50 rounded-full">
                  {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                </time>
              </div>
              <div class="animate text-surface10/50">
                <entry.Content />
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </Container>
</PageLayout>
