---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard";
import Blog from "@components/Blog";
import { BLOG } from "@consts";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const tags = [...new Set(posts.flatMap((post) => post.data.tags))].sort(
  (a, b) => a.localeCompare(b)
);
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <Container size="xl">
    <div class="space-y-10 md:mt-16 lg:mt-24">
      <div class="grid md:grid-cols-12 gap-10 w-full">
        <h1
          class="col-span-4 animate text-5xl lg:text-6xl font-semibold text-surface10"
        >
          Blog
        </h1>
        <p
          class="col-span-8 animate text-xl lg:text-2xl font-light text-surface10"
        >
          A collection of my thoughts, ideas, and experiences. From design to
          development, I share my journey and insights in the world of
          technology and creativity.
        </p>
      </div>
      <div class="animate">
        <Blog client:load tags={tags} data={posts} />
      </div>
    </div>
  </Container>
</PageLayout>
