---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
};

const { href, external, underline = true, ...rest } = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class={cn(
    "inline-block decoration-surface10/15 hover:decoration-surface10/25 text-current hover:text-surface10 transition-colors duration-300 ease-in-out",
    underline && "underline underline-offset-2"
  )}
  {...rest}
>
  <slot />
</a>
