.root {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-6);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-6);
  width: 100%;
}

.grid > * {
  min-width: 0;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
