---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard";
import Projects from "@components/Projects";
import { PROJECTS } from "@consts";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const tags = [
  ...new Set(projects.flatMap((project) => project.data.tags)),
].sort((a, b) => a.localeCompare(b));
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container size="xl">
    <div class="space-y-10 md:mt-16 lg:mt-24">
      <div class="grid md:grid-cols-12 gap-10 w-full">
        <h1
          class="col-span-4 animate font-semibold text-surface10 text-4xl md:text-5xl"
        >
          Projects
        </h1>
        <p class="col-span-8 animate text-lg md:text-xl">
          A collection of my projects, showcasing my skills and creativity. From
          design to development, I take pride in every aspect of my work.
        </p>
      </div>
      <div class="animate">
        <Projects client:load tags={tags} data={projects} />
      </div>
    </div>
  </Container>
</PageLayout>
